<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kg.module.atable.mapper.ATableMapper">
    <!-- 批量保存 -->
    <insert id="saveList">
        INSERT INTO a_table VALUES
        <foreach collection="list" item="row" separator=",">
            (
            #{row.id},
            #{row.mobile},
            #{row.orderIndex},
            #{row.field116},
            #{row.a},
            #{row.b},
            #{row.createTime},
            #{row.updateTime}
            )
        </foreach>
    </insert>
    <!-- 根据条件查询列表 -->
    <select id="list" resultType="com.kg.module.atable.dto.ATableDTO">
        SELECT * FROM a_table
        WHERE 1=1
        <if test="mobile!= null and mobile!= ''">
            AND mobile = #{mobile}
        </if>
        <if test="field116!= null and field116!= ''">
            AND field116 = #{field116}
        </if>
        <if test="a!= null and a!= ''">
            AND a = #{a}
        </if>
        <if test="b!= null and b!= ''">
            AND b = #{b}
        </if>
        <choose>
            <when test="mobileOrder != null and mobileOrder != ''">
                ORDER BY mobile ${mobileOrder}
            </when>
            <when test="orderIndexOrder != null and orderIndexOrder != ''">
                ORDER BY order_index ${orderIndexOrder}
            </when>
            <when test="field116Order != null and field116Order != ''">
                ORDER BY field116 ${field116Order}
            </when>
            <when test="aOrder != null and aOrder != ''">
                ORDER BY a ${aOrder}
            </when>
            <when test="bOrder != null and bOrder != ''">
                ORDER BY b ${bOrder}
            </when>
            <when test="createTimeOrder != null and createTimeOrder != ''">
                ORDER BY create_time ${createTimeOrder}
            </when>
            <otherwise>
                ORDER BY order_index ASC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>
    <!-- 根据条件查询总数 -->
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*) FROM a_table
        WHERE 1=1
        <if test="mobile!= null and mobile!= ''">
            AND mobile = #{mobile}
        </if>
        <if test="field116!= null and field116!= ''">
            AND field116 = #{field116}
        </if>
        <if test="a!= null and a!= ''">
            AND a = #{a}
        </if>
        <if test="b!= null and b!= ''">
            AND b = #{b}
        </if>
    </select>
</mapper>
