<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kg.module.atable.mapper.ATableMapper">
    <!-- 批量保存 -->
    <insert id="saveList">
        INSERT INTO a_table VALUES
        <foreach collection="list" item="row" separator=",">
            (
            #{row.id},
            #{row.testName},
            #{row.field118},
            #{row.field119},
            #{row.createTime},
            #{row.updateTime}
            )
        </foreach>
    </insert>
    <!-- 根据条件查询列表 -->
    <select id="list" resultType="com.kg.module.atable.dto.ATableDTO">
        SELECT * FROM a_table
        WHERE 1=1
        <if test="testName!= null and testName!= ''">
            AND test_name = #{testName}
        </if>
        <if test="field118!= null and field118!= ''">
            AND field118 = #{field118}
        </if>
        <if test="field119!= null and field119!= ''">
            AND field119 = #{field119}
        </if>
        <choose>
            <when test="testNameOrder != null and testNameOrder != ''">
                ORDER BY test_name ${testNameOrder}
            </when>
            <when test="field118Order != null and field118Order != ''">
                ORDER BY field118 ${field118Order}
            </when>
            <when test="field119Order != null and field119Order != ''">
                ORDER BY field119 ${field119Order}
            </when>
            <when test="createTimeOrder != null and createTimeOrder != ''">
                ORDER BY create_time ${createTimeOrder}
            </when>
        </choose>
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>
    <!-- 根据条件查询总数 -->
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*) FROM a_table
        WHERE 1=1
        <if test="testName!= null and testName!= ''">
            AND test_name = #{testName}
        </if>
        <if test="field118!= null and field118!= ''">
            AND field118 = #{field118}
        </if>
        <if test="field119!= null and field119!= ''">
            AND field119 = #{field119}
        </if>
    </select>
</mapper>
