<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kg.module.atable.mapper.ATableMapper">
    <!-- 批量保存 -->
    <insert id="saveList">
        INSERT INTO a_table VALUES
        <foreach collection="list" item="row" separator=",">
            (
            #{row.id},
            #{row.mobile},
            #{row.orderIndex},
            #{row.testText},
            #{row.testEditor},
            #{row.testDecimal},
            #{row.testImg},
            #{row.testAvatar},
            #{row.createTime},
            #{row.updateTime}
            )
        </foreach>
    </insert>
    <!-- 根据条件查询列表 -->
    <select id="list" resultType="com.kg.module.atable.dto.ATableDTO">
        SELECT * FROM a_table
        WHERE 1=1
        <if test="mobile!= null and mobile!= ''">
            AND mobile = #{mobile}
        </if>
        <if test="testText!= null and testText!= ''">
            AND test_text = #{testText}
        </if>
        <if test="testEditor!= null and testEditor!= ''">
            AND test_editor = #{testEditor}
        </if>
        <if test="testDecimal!= null and testDecimal!= ''">
            AND test_decimal = #{testDecimal}
        </if>
        <if test="testImg!= null and testImg!= ''">
            AND test_img = #{testImg}
        </if>
        <if test="testAvatar!= null and testAvatar!= ''">
            AND test_avatar = #{testAvatar}
        </if>
        <choose>
            <when test="mobileOrder != null and mobileOrder != ''">
                ORDER BY mobile ${mobileOrder}
            </when>
            <when test="orderIndexOrder != null and orderIndexOrder != ''">
                ORDER BY order_index ${orderIndexOrder}
            </when>
            <when test="testTextOrder != null and testTextOrder != ''">
                ORDER BY test_text ${testTextOrder}
            </when>
            <when test="testEditorOrder != null and testEditorOrder != ''">
                ORDER BY test_editor ${testEditorOrder}
            </when>
            <when test="testDecimalOrder != null and testDecimalOrder != ''">
                ORDER BY test_decimal ${testDecimalOrder}
            </when>
            <when test="testImgOrder != null and testImgOrder != ''">
                ORDER BY test_img ${testImgOrder}
            </when>
            <when test="testAvatarOrder != null and testAvatarOrder != ''">
                ORDER BY test_avatar ${testAvatarOrder}
            </when>
            <when test="createTimeOrder != null and createTimeOrder != ''">
                ORDER BY create_time ${createTimeOrder}
            </when>
            <otherwise>
                ORDER BY order_index ASC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>
    <!-- 根据条件查询总数 -->
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*) FROM a_table
        WHERE 1=1
        <if test="mobile!= null and mobile!= ''">
            AND mobile = #{mobile}
        </if>
        <if test="testText!= null and testText!= ''">
            AND test_text = #{testText}
        </if>
        <if test="testEditor!= null and testEditor!= ''">
            AND test_editor = #{testEditor}
        </if>
        <if test="testDecimal!= null and testDecimal!= ''">
            AND test_decimal = #{testDecimal}
        </if>
        <if test="testImg!= null and testImg!= ''">
            AND test_img = #{testImg}
        </if>
        <if test="testAvatar!= null and testAvatar!= ''">
            AND test_avatar = #{testAvatar}
        </if>
    </select>
</mapper>
