<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kg.module.aTableImages.mapper.ATableImagesMapper">
    <!-- 批量保存 -->
    <insert id="saveList">
        INSERT INTO a_table_images VALUES
        <foreach collection="list" item="row" separator=",">
            (
            #{row.fileId},
            #{row.aTableId},
            #{row.fileUrl},
            #{row.fileOldName},
            #{row.fileName},
            #{row.fileExtend},
            #{row.fileSize},
            #{row.createTime}
            )
        </foreach>
    </insert>
    <!-- 根据条件查询列表 -->
    <select id="list" resultType="com.kg.module.aTableImages.dto.ATableImagesDTO">
        SELECT * FROM a_table_images
        WHERE 1=1
        <if test="aTableId!= null and aTableId!= ''">
            AND a_table_id = #{aTableId}
        </if>
        <if test="fileUrl!= null and fileUrl!= ''">
            AND file_url = #{fileUrl}
        </if>
        <if test="fileOldName!= null and fileOldName!= ''">
            AND file_old_name = #{fileOldName}
        </if>
        <if test="fileName!= null and fileName!= ''">
            AND file_name = #{fileName}
        </if>
        <if test="fileExtend!= null and fileExtend!= ''">
            AND file_extend = #{fileExtend}
        </if>
        <if test="fileSize!= null and fileSize!= ''">
            AND file_size = #{fileSize}
        </if>
        <choose>
            <when test="aTableIdOrder != null and aTableIdOrder != ''">
                ORDER BY a_table_id ${aTableIdOrder}
            </when>
            <when test="fileUrlOrder != null and fileUrlOrder != ''">
                ORDER BY file_url ${fileUrlOrder}
            </when>
            <when test="fileOldNameOrder != null and fileOldNameOrder != ''">
                ORDER BY file_old_name ${fileOldNameOrder}
            </when>
            <when test="fileNameOrder != null and fileNameOrder != ''">
                ORDER BY file_name ${fileNameOrder}
            </when>
            <when test="fileExtendOrder != null and fileExtendOrder != ''">
                ORDER BY file_extend ${fileExtendOrder}
            </when>
            <when test="fileSizeOrder != null and fileSizeOrder != ''">
                ORDER BY file_size ${fileSizeOrder}
            </when>
            <when test="createTimeOrder != null and createTimeOrder != ''">
                ORDER BY create_time ${createTimeOrder}
            </when>
        </choose>
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>
    <!-- 根据条件查询总数 -->
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*) FROM a_table_images
        WHERE 1=1
        <if test="aTableId!= null and aTableId!= ''">
            AND a_table_id = #{aTableId}
        </if>
        <if test="fileUrl!= null and fileUrl!= ''">
            AND file_url = #{fileUrl}
        </if>
        <if test="fileOldName!= null and fileOldName!= ''">
            AND file_old_name = #{fileOldName}
        </if>
        <if test="fileName!= null and fileName!= ''">
            AND file_name = #{fileName}
        </if>
        <if test="fileExtend!= null and fileExtend!= ''">
            AND file_extend = #{fileExtend}
        </if>
        <if test="fileSize!= null and fileSize!= ''">
            AND file_size = #{fileSize}
        </if>
    </select>
</mapper>
