/* 主题颜色：以下变量名不可更改，是element-ui中的变量名 */
//$--color-primary: #4080FF;
$--color-success: #00B42A;
$--color-warning: #FADC19;
$--color-danger: #F53F3F;
// $--color-info: #1E1E1E;

$--button-font-weight: 400;

// $--color-text-regular: #1f2d3d;

$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;

$--table-border: 1px solid #dfe6ec;

// icon字体路径
$--font-path: "~element-ui/lib/theme-chalk/fonts";
// 导入element-ui主题样式
@import "~element-ui/packages/theme-chalk/src/index";
