@charset "UTF-8";
:export {
  menuBg: #fff;
  menuHover: #f0f0f0;
  menuText: #4e5969;
  subMenuHover: #ebebeb;
  subMenuActive: #e6f4ff;
  sideBarWidth: 210px; }

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s; }

.fade-enter,
.fade-leave-active {
  opacity: 0; }

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s; }

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px); }

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px); }

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s; }

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px); }

.breadcrumb-move {
  transition: all .5s; }

.breadcrumb-leave-active {
  position: absolute; }

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important; }

.el-upload input[type="file"] {
  display: none !important; }

.el-upload__input {
  display: none; }

.cell .el-tag {
  margin-right: 0px; }

.small-padding .cell {
  padding-left: 5px;
  padding-right: 5px; }

.fixed-width .el-button--mini {
  padding: 7px 10px;
  min-width: 60px; }

.status-col .cell {
  padding: 0 10px;
  text-align: center; }
  .status-col .cell .el-tag {
    margin-right: 0px; }

.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto; }

.upload-container .el-upload {
  width: 100%; }
  .upload-container .el-upload .el-upload-dragger {
    width: 100%;
    height: 200px; }

.el-dropdown-menu a {
  display: block; }

.el-range-editor.el-input__inner {
  display: inline-flex !important; }

.el-range-separator {
  box-sizing: content-box; }

#app .main-container {
  min-height: 100%;
  transition: margin-left .28s;
  margin-left: 210px;
  position: relative; }
#app .sidebar-container {
  transition: width 0.28s;
  width: 210px !important;
  background-color: #fff;
  height: 100%;
  position: fixed;
  font-size: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
  box-shadow: 2px 0 8px rgba(29, 35, 41, 0.05); }
  #app .sidebar-container .horizontal-collapse-transition {
    transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out; }
  #app .sidebar-container .scrollbar-wrapper {
    overflow-x: hidden !important; }
  #app .sidebar-container .el-scrollbar__bar.is-vertical {
    right: 0px; }
  #app .sidebar-container .el-scrollbar {
    height: 100%; }
  #app .sidebar-container.has-logo .el-scrollbar {
    height: calc(100% - 50px); }
  #app .sidebar-container .is-horizontal {
    display: none; }
  #app .sidebar-container a {
    display: inline-block;
    width: 100%;
    overflow: hidden; }
  #app .sidebar-container .svg-icon {
    margin-right: 16px; }
  #app .sidebar-container .sub-el-icon {
    margin-right: 12px !important;
    margin-left: -5px !important; }
  #app .sidebar-container .el-menu {
    border: none;
    height: 100%;
    width: 100% !important; }
  #app .sidebar-container .submenu-title-noDropdown:hover,
  #app .sidebar-container .el-submenu__title:hover {
    background-color: #f0f0f0 !important; }
  #app .sidebar-container .nest-menu .el-submenu > .el-submenu__title, #app .sidebar-container .el-submenu .el-menu-item {
    line-height: 45px;
    height: 45px;
    margin: 3px 5px;
    border-radius: 10px; }
    #app .sidebar-container .nest-menu .el-submenu > .el-submenu__title:hover, #app .sidebar-container .el-submenu .el-menu-item:hover {
      background-color: #ebebeb !important; }
    #app .sidebar-container .nest-menu .el-submenu > .el-submenu__title:active, #app .sidebar-container .el-submenu .el-menu-item:active {
      background-color: #e6f4ff !important; }
  #app .sidebar-container .el-submenu .is-active {
    background-color: #e6f4ff !important; }
  #app .sidebar-container .el-submenu > .el-menu--inline {
    background-color: #fafafa !important; }
  #app .sidebar-container .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
    font-weight: bold !important; }
#app .hideSidebar .sidebar-container {
  width: 54px !important; }
#app .hideSidebar .main-container {
  margin-left: 54px; }
#app .hideSidebar .submenu-title-noDropdown {
  padding: 0 !important;
  position: relative; }
  #app .hideSidebar .submenu-title-noDropdown .el-tooltip {
    padding: 0 !important; }
    #app .hideSidebar .submenu-title-noDropdown .el-tooltip .svg-icon {
      margin-left: 20px !important; }
    #app .hideSidebar .submenu-title-noDropdown .el-tooltip .sub-el-icon {
      margin-left: 19px !important; }
#app .hideSidebar .el-submenu {
  overflow: hidden; }
  #app .hideSidebar .el-submenu > .el-submenu__title {
    padding: 0 !important; }
    #app .hideSidebar .el-submenu > .el-submenu__title .svg-icon {
      margin-left: 20px !important; }
    #app .hideSidebar .el-submenu > .el-submenu__title .sub-el-icon {
      margin-left: 15px !important; }
    #app .hideSidebar .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
      display: none; }
#app .hideSidebar .el-menu--collapse .el-submenu > .el-submenu__title > span {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  display: inline-block; }
#app .el-menu--collapse .el-menu .el-submenu {
  min-width: 210px !important; }
#app .mobile .main-container {
  margin-left: 0px; }
#app .mobile .sidebar-container {
  transition: transform .28s;
  width: 210px !important; }
#app .mobile.hideSidebar .sidebar-container {
  pointer-events: none;
  transition-duration: 0.3s;
  transform: translate3d(-210px, 0, 0); }
#app .withoutAnimation .main-container,
#app .withoutAnimation .sidebar-container {
  transition: none; }

.el-menu--vertical > .el-menu .svg-icon {
  margin-right: 16px; }
.el-menu--vertical > .el-menu .sub-el-icon {
  margin-right: 12px !important;
  margin-left: -5px !important; }
.el-menu--vertical .nest-menu .el-submenu > .el-submenu__title,
.el-menu--vertical .el-menu-item {
  height: 45px;
  line-height: 45px;
  margin: 3px 5px;
  border-radius: 10px; }
  .el-menu--vertical .nest-menu .el-submenu > .el-submenu__title:hover,
  .el-menu--vertical .el-menu-item:hover {
    background-color: #f0f0f0 !important; }
  .el-menu--vertical .nest-menu .el-submenu > .el-submenu__title:active,
  .el-menu--vertical .el-menu-item:active {
    background-color: #f0f0f0 !important; }
.el-menu--vertical > .el-menu--popup {
  max-height: 100vh;
  overflow-y: auto; }
  .el-menu--vertical > .el-menu--popup::-webkit-scrollbar-track-piece {
    background: #d3dce6; }
  .el-menu--vertical > .el-menu--popup::-webkit-scrollbar {
    width: 6px; }
  .el-menu--vertical > .el-menu--popup::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px; }

:export {
  menuBg: #fff;
  menuHover: #f0f0f0;
  menuText: #4e5969;
  subMenuHover: #ebebeb;
  subMenuActive: #e6f4ff;
  sideBarWidth: 210px; }

.add-btn {
  background: #165DFF;
  color: #fff;
  border-color: #165DFF; }
  .add-btn:hover {
    color: #fff;
    border-color: #165DFF;
    background-color: #165DFF;
    opacity: .8; }
    .add-btn:hover:before, .add-btn:hover:after {
      background: #165DFF; }
  .add-btn:active {
    color: #fff;
    border-color: #165DFF;
    background: #165DFF; }
  .add-btn:focus {
    color: #fff;
    border-color: #165DFF;
    background: #165DFF; }

.edit-btn {
  background: #00B42A;
  color: #fff;
  border-color: #00B42A; }
  .edit-btn:hover {
    color: #fff;
    border-color: #00B42A;
    background-color: #00B42A;
    opacity: .8; }
    .edit-btn:hover:before, .edit-btn:hover:after {
      background: #00B42A; }
  .edit-btn:active {
    color: #fff;
    border-color: #00B42A;
    background: #00B42A; }
  .edit-btn:focus {
    color: #fff;
    border-color: #00B42A;
    background: #00B42A; }

.delete-btn {
  background: #F53F3F;
  color: #fff;
  border-color: #F53F3F; }
  .delete-btn:hover {
    color: #fff;
    border-color: #F53F3F;
    background-color: #F53F3F;
    opacity: .8; }
    .delete-btn:hover:before, .delete-btn:hover:after {
      background: #F53F3F; }
  .delete-btn:active {
    color: #fff;
    border-color: #F53F3F;
    background: #F53F3F; }
  .delete-btn:focus {
    color: #fff;
    border-color: #F53F3F;
    background: #F53F3F; }

.search-btn {
  background: #14C9C9;
  color: #fff;
  border-color: #14C9C9; }
  .search-btn:hover {
    color: #fff;
    border-color: #14C9C9;
    background-color: #14C9C9;
    opacity: .8; }
    .search-btn:hover:before, .search-btn:hover:after {
      background: #14C9C9; }
  .search-btn:active {
    color: #fff;
    border-color: #14C9C9;
    background: #14C9C9; }
  .search-btn:focus {
    color: #fff;
    border-color: #14C9C9;
    background: #14C9C9; }

.import-btn {
  background: #F77234;
  color: #fff;
  border-color: #F77234; }
  .import-btn:hover {
    color: #fff;
    border-color: #F77234;
    background-color: #F77234;
    opacity: .8; }
    .import-btn:hover:before, .import-btn:hover:after {
      background: #F77234; }
  .import-btn:active {
    color: #fff;
    border-color: #F77234;
    background: #F77234; }
  .import-btn:focus {
    color: #fff;
    border-color: #F77234;
    background: #F77234; }

.export-btn {
  background: #FF7D00;
  color: #fff;
  border-color: #FF7D00; }
  .export-btn:hover {
    color: #fff;
    border-color: #FF7D00;
    background-color: #FF7D00;
    opacity: .8; }
    .export-btn:hover:before, .export-btn:hover:after {
      background: #FF7D00; }
  .export-btn:active {
    color: #fff;
    border-color: #FF7D00;
    background: #FF7D00; }
  .export-btn:focus {
    color: #fff;
    border-color: #FF7D00;
    background: #FF7D00; }

.reset-btn {
  background: #3491FA;
  color: #fff;
  border-color: #3491FA; }
  .reset-btn:hover {
    color: #fff;
    border-color: #3491FA;
    background-color: #3491FA;
    opacity: .8; }
    .reset-btn:hover:before, .reset-btn:hover:after {
      background: #3491FA; }
  .reset-btn:active {
    color: #fff;
    border-color: #3491FA;
    background: #3491FA; }
  .reset-btn:focus {
    color: #fff;
    border-color: #3491FA;
    background: #3491FA; }

.prohibition-btn {
  background: #F76560;
  color: #fff;
  border-color: #F76560; }
  .prohibition-btn:hover {
    color: #fff;
    border-color: #F76560;
    background-color: #F76560;
    opacity: .8; }
    .prohibition-btn:hover:before, .prohibition-btn:hover:after {
      background: #F76560; }
  .prohibition-btn:active {
    color: #fff;
    border-color: #F76560;
    background: #F76560; }
  .prohibition-btn:focus {
    color: #fff;
    border-color: #F76560;
    background: #F76560; }

.pan-btn {
  font-size: 14px;
  color: #fff;
  padding: 14px 36px;
  border-radius: 8px;
  border: none;
  outline: none;
  transition: 600ms ease all;
  position: relative;
  display: inline-block; }
  .pan-btn:hover {
    background: #fff; }
    .pan-btn:hover:before, .pan-btn:hover:after {
      width: 100%;
      transition: 600ms ease all; }
  .pan-btn:before, .pan-btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    transition: 400ms ease all; }
  .pan-btn::after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0; }

.custom-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  color: #fff;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px; }

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background-color: #f5f5f5; }

label {
  font-weight: 700; }

html {
  height: 100%;
  box-sizing: border-box; }

#app {
  height: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.no-padding {
  padding: 0px !important; }

.padding-content {
  padding: 4px 0; }

a:focus,
a:active {
  outline: none; }

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none; }

div:focus {
  outline: none; }

.fr {
  float: right; }

.fl {
  float: left; }

.pr-5 {
  padding-right: 5px; }

.pl-5 {
  padding-left: 5px; }

.block {
  display: block; }

.pointer {
  cursor: pointer; }

.inlineBlock {
  display: block; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  aside a {
    color: #337ab7;
    cursor: pointer; }
    aside a:hover {
      color: #20a0ff; }

.app-container {
  background-color: #FFFFFF;
  padding: 15px;
  margin: 15px;
  border-radius: 10px; }

.components-container {
  margin: 30px 50px;
  position: relative; }

.pagination-container {
  margin-top: 30px; }

.text-center {
  text-align: center; }

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, #20b6f9 0%, #20b6f9 0%, #2178f1 100%, #2178f1 100%); }
  .sub-navbar .subtitle {
    font-size: 20px;
    color: #fff; }
  .sub-navbar.draft {
    background: #d0d0d0; }
  .sub-navbar.deleted {
    background: #d0d0d0; }

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer; }
  .link-type:hover,
  .link-type:focus:hover {
    color: #20a0ff; }

.filter-container {
  padding-bottom: 10px; }
  .filter-container .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px; }

.multiselect {
  line-height: 16px; }

.multiselect--active {
  z-index: 1000 !important; }

/* 模拟 Edge 浏览器滚动条样式 */
/* 水平滚动条 */
::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.5); }

::-webkit-scrollbar-thumb {
  background: rgba(135, 135, 135, 0.5);
  border-radius: 6px; }

::-webkit-scrollbar-thumb:hover {
  background: rgba(84, 84, 84, 0.5); }

/* 垂直滚动条 */
::-webkit-scrollbar-vertical {
  width: 10px; }

::-webkit-scrollbar-track-vertical {
  background: rgba(242, 242, 242, 0.5); }

::-webkit-scrollbar-thumb-vertical {
  background: rgba(135, 135, 135, 0.5);
  border-radius: 6px; }

::-webkit-scrollbar-thumb-vertical:hover {
  background: rgba(84, 84, 84, 0.5); }

/*# sourceMappingURL=index.css.map */
