// base color
$blue: #165DFF;
//$light-blue:#3A71A8;
//$red:#C03639;
//$pink: #E65D6E;
//$green: #30B08F;
//$tiffany: #4AB7BD;
//$yellow:#FEC171;
//$panGreen: #30B08F;
$search-btn: #14C9C9;
$add-btn: #165DFF;
$edit-btn: #00B42A;
$delete-btn: #F53F3F;
$import-btn: #F77234;
$export-btn: #FF7D00;
$reset-btn: #3491FA;
$prohibition-btn: #F76560;

// 菜单基本样式
$menuBg: #fff;
$menuHover: #f2f3f5;
$menuText: #4e5969;
$subMenuHover: #f2f3f5;
$subMenuActive: #f2f3f5;
$sideBarWidth: 210px;

// 导出菜单基本样式
:export {
  menuBg: $menuBg;
  menuHover: $menuHover;
  menuText: $menuText;
  subMenuHover: $subMenuHover;
  subMenuActive: $subMenuActive;
  sideBarWidth: $sideBarWidth;
}
