@import './var.css';
@import 'element-plus/theme-chalk/dark/css-vars.css';

// 解决抽屉弹出时，body宽度变化的问题
.el-popup-parent--hidden {
  width: 100% !important;
}

// 内容显示区域容器演示
.app-container {
  background-color: var(--el-bg-color);
  padding: var(--app-content-padding);
  margin: var(--app-content-margin);
  border-radius: var(--app-content-border-radius);

  // 顶部查询表单和操作按钮等样式
  .searchPanel {
    display: flex;
    justify-content: space-between;

    .searchForm {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      .searchInput {
        width: 120px;
        margin-right: 10px;
        margin-bottom: 10px;
      }

      .searchBtn {
        margin-bottom: 10px;
      }
    }

    .operatePanel {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-end;
      margin-bottom: 10px;
    }
  }
}