<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kg.core.zpermission.mapper.ZPermissionMapper">

    <select id="listPermissionByUserId" resultType="com.kg.core.zpermission.entity.ZPermission">
        SELECT a.*
        FROM z_permission a
                 LEFT JOIN z_role_permission b ON a.permission_id = b.permission_id
                 LEFT JOIN z_user_role c ON b.role_id = c.role_id
        WHERE c.user_id = #{userId}
        ORDER BY permission_order
    </select>

    <select id="getListById" resultType="com.kg.core.zpermission.entity.ZPermission">
        SELECT *
        from z_permission
        WHERE parent_id = #{permissionId}
          AND permission_type = '1'
    </select>
</mapper>
