<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kg.core.zuser.mapper.ZUserMapper">

    <select id="getUserRoleList" parameterType="cn.hutool.json.JSONObject" resultType="com.kg.core.zuser.dto.ZUserDTO">
        SELECT a.*, b.*, c.role_id, c.role_name, d.org_name
        FROM z_user a
        LEFT JOIN z_user_role b ON a.user_id = b.user_id
        LEFT JOIN z_role c ON b.role_id = c.role_id
        LEFT JOIN z_organization d ON a.org_id=d.org_id
        WHERE 1=1
        <if test="orgId != null and orgId != ''">
            <choose>
                <when test="isSelf != null and isSelf == 'self'">
                    /*包含下级*/
                    AND d.org_path LIKE CONCAT('%', #{orgId}, '%')
                </when>
                <otherwise>
                    AND a.org_id = #{orgId}
                </otherwise>
            </choose>
        </if>
        <if test="userName != null and userName != ''">
            AND a.user_name LIKE CONCAT('%', #{userName}, '%')
        </if>
        <if test="name != null and name != ''">
            AND a.name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="status != null and status != ''">
            AND a.status = #{status}
        </if>
        <if test="developer != null and developer != ''">
            AND a.user_id NOT IN
            <foreach collection="developer" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        LIMIT #{offset},#{limit}
    </select>

    <select id="getUserRoleCount" resultType="java.lang.Long">
        SELECT COUNT(a.user_id)
        FROM z_user a
        LEFT JOIN z_organization d ON a.org_id=d.org_id
        WHERE 1=1
        <if test="orgId != null and orgId != ''">
            <choose>
                <when test="isSelf != null and isSelf == 'self'">
                    /*包含下级*/
                    AND d.org_path LIKE CONCAT('%', #{orgId}, '%')
                </when>
                <otherwise>
                    AND a.org_id = #{orgId}
                </otherwise>
            </choose>
        </if>
        <if test="userName != null and userName != ''">
            AND a.user_name LIKE CONCAT('%', #{userName}, '%')
        </if>
        <if test="name != null and name != ''">
            AND a.name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="status != null and status != ''">
            AND a.status = #{status}
        </if>
        <if test="developer != null and developer != ''">
            AND a.user_id NOT IN
            <foreach collection="developer" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="getUserById" resultType="com.kg.core.zuser.dto.ZUserRoleSaveDTO">
        SELECT a.*, b.*, c.role_id, c.role_name
        FROM z_user a
                 LEFT JOIN z_user_role b ON a.user_id = b.user_id
                 LEFT JOIN z_role c ON b.role_id = c.role_id
        WHERE a.user_id = #{userId}
    </select>

</mapper>
